.search-container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .chips-input-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: #f5f8fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .chip {
    background-color: #1da1f2;
    color: #fff;
    border-radius: 20px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
  }
  
  .chip-remove {
    margin-left: 8px;
    cursor: pointer;
    color: #fff;
    border: none;
    background: none;
    font-size: 14px;
  }
  
  .item-list {
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    width: 200px; 
    max-height: 200px;
    overflow-y: auto;
    background-color: #e9eef6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .item-list-scrollable {
    max-height: 100%;
  }
  
  .item {
    cursor: pointer;
    padding: 16px;
    transition: background-color 0.2s;
  }
  
  .item:hover {
    background-color: #c1e0ff;
  }
  input {
    outline: none;
    border: none;
    background-color: #f5f8fa;
  }
  
  .first-item {
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: antiquewhite;
  }
  
  .coloured{
    color: green;
  }

  .highlighted {
    background-color: #ffcc00; 
    color: #000; 
    font-weight: bold; 
  }